@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.in{
	display: none;
}
*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden !important;		
	background: #F8F8F8;
}

/* navbar */
nav{
	display: flex;
	background: #F8F8F8;
	height: 70px;
	align-items: center !important;
	justify-content: space-around;
}
nav .logo a img{
	height: 40px !important;
}
nav ul{
	display: flex;
	list-style: none;
	width: 15%;
	justify-content: space-between;	
}
nav ul li a{
	text-decoration: none !important;
	color: grey;	
	font-size: 0.9em;
	font-family: 'Open Sans', sans-serif;
	transition: .2s;
}
nav ul li a:hover{
	color: lightgrey;
}
nav ul li select{
	margin-top: 25px !important;
	margin-left: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	border-radius:50px;
	border: 1px solid grey;
	padding: 0 10px;
	width: 130px;
	outline: none;
	color: grey;
	background-color: none;
}
/* humberger menu */
.menu-toggle{
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content:space-between;
	cursor: pointer;
}
.menu-toggle span{
	display: block;
	width: 28px;
	height: 3px;
	background: grey;
	border-radius: 5px;
	transition: all 0.5s;
}
.menu-toggle span:nth-child(1){
	transform-origin: 0 0;
}
.menu-toggle span:nth-child(3){
	transform-origin: 0 100%;
}
.menu-toggle.animation span:nth-child(1){
	transform: rotate(45deg) translate(-1px, -1px);
	background: lightgrey;
}
.menu-toggle.animation span:nth-child(2){
	transform: scale(0);
	opacity: 0;
}
.menu-toggle.animation span:nth-child(3){
	transform: rotate(-45deg) translate(-1px, 0);
	background: lightgrey;
}
/* /humberger menu */

/* /navbar */

/* content */
.content{
	background: #F8F8F8;
	opacity: 1;	
}
/* /content */

/* header */
.header{
	background: #F8F8F8;
}
.header img{
	margin-top: 20px;
}
.header .socialMedia i{
	font-size: 	35px;
	padding: 0 15px;
	color: 	darkgrey;
	margin-top: 13px;
	transition: .2s
}
.header .socialMedia i:hover{
	transform: scale(1.2);
	color: #03a9f4;
}
/* /header */

/* about */
.about{
	background: #F8F8F8;
	font-family: 'Open Sans', sans-serif;
}
.about .name{
	font-size: 50px;
	margin-top: 70px;
}
.about .title{
	font-size: 25px;
}
.about .title:after{
	content:'';
	display: block;
	border-bottom: 5px solid #03a9f4;
	width: 5%;
	margin-top: 10px;
	border-radius: 5px;
}
.about .desc{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	width: 70%;
	color: #777777;
}
.about .aboutButton{
	margin-top: 40px;
	margin-bottom: 20px;
}
.about .aboutButton a{
	font-size: 20px;
	padding:10px 30px;
	background: #03a9f4;
	border-radius: 40px;
	color: #FFFFFF;
	text-decoration: none;
	transition: .2s;
	box-shadow: 0 1px 10px rgba(0,0,0, .2);
}
.about .aboutButton a.work:hover{
	background: #0296d9;
}
.about .aboutButton a.resume{
	background: #fff !important;
	color: #03a9f4;
	box-shadow: 0 2px 20px .1px rgba(0, 0, 0, .1);
	transition: .2s;
}
.about .aboutButton a.resume:hover{
	background: #cccccc !important;
	color: #FFFFFF;
	box-shadow: none;
}
/* /about */

/* portfolio */
.portfolio{
	margin-top: 150px;
	font-family: 'Montserrat', sans-serif;
}
.portfolio h3{
	font-size: 45px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 40px;	
}
.portfolio h3:after{
	content: '';
	display: block;
	margin: auto;
	margin-top: 15px;
	border-bottom: 5px solid #03a9f4;
	width: 6%;
	border-radius: 5px;
}
.portfolio h4{
	color: #03a9f4;
}
.portfolio .text{
	display: block;		
	font-size: 17px !important;
	color: #777777;
	line-height: 28px;
}
.portfolio .livePreview a{
	background-color: #03a9f4;
	color: #FFFFFF;
	border-radius: 40px;
	padding:10px 30px;
	transition: .2s;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 1px 10px rgba(0,0,0, .2);
	margin-top: 50px;	
}
.portfolio .livePreview a:hover{
	background: #0296d9;
}
/* /portfolio */

/* skills */
.skills{
	margin-top: 150px;
}
.skills h3{
	font-size: 45px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 40px;
}
.skills h3:after{
	content: '';
	display: block;
	margin: auto;
	margin-top: 15px;
	border-bottom: 5px solid #03a9f4;
	width: 6%;
	border-radius: 5px;
}
.skills .card{
	text-align: center !important;
	border-radius: 10px;
	border: none;
	background: #FFFFFF !important;
	margin-bottom: 25px;
	display: none;	
}
.skills .card img{
	transition: all .2s ease-in-out;
	filter: grayscale(100%);
}
.skills .card img:hover{
	transform: scale(1.1);
}

/* swiper */
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	border-radius: 10px !important;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
} 
.swiper-pagination-bullet-active{
	background-color: #03a9f4 !important;	
}
/* /swiper */

/* /skills */

/* work together */
.workTogether{
	margin-top: 150px;
	font-family: 'Open Sans', sans-serif;
}
.workTogether h1{
	font-size: 45px;
	margin-bottom: 20px;
}
.workTogether p{
	font-family: 'Montserrat', sans-serif;
	color: #777777;
}
.workTogether a{
	background-color: #03a9f4;
	color: #FFFFFF;
	border-radius: 40px;
	padding:10px 30px;
	transition: .2s;
	box-shadow: 0 1px 10px rgba(0,0,0, .2);	
	margin-top: 35px;	
}
.workTogether a:hover{
	background: #0296d9;
	color: #FFFFFF;
}
/* /work together */

/* footer */
.footer{
	background: #FFFFFF;	
	margin-top: 150px;	
	font-family: 'Open Sans', sans-serif;
}
.footer img{
	height: 60px;
	margin-right: 10px;
}
.footer .footer2 span{
	font-family: 'Montserrat', sans-serif;	
	font-size: 16px;		
}
/* /footer */

/* --------------------------------------- */

/* Responsive */

/* tablet */
@media screen and (max-width: 768px) {
	/* navbar */
	nav ul{
		width: 20%;
	}
	nav ul li select{
		margin-left: 0;
		font-size: 0.9em;
		padding: 0 5px;
		width: auto;
	}
	/* /navbar */

	/* portfolio */
	.portfolio h4{
		text-align: center;	
		margin-top: 20px;	
	}
	.portfolio .text{
		text-align: center;	
	}
	/* /portfolio */

	/* footer */
	.footer{	
		margin-top: 100px;
	}
	.footer .footer1 img{
		height: 40px;
	}
	.footer .footer1 h4{
		font-size: 16px;
	}
	.footer .footer1 p{
		font-size: 14px;
		margin-top: -10px;
	}
	.footer .footer2{
	}
	.footer span{
		font-size: 13px !important;
	}
	/* /footer */

}

/* --------------------------------------- */

/* mobile */
@media screen and (max-width: 576px) {
	/* navbar */
	nav{
		justify-content: space-between !important;
	}
	nav .logo{
		margin-left: 30px;
	}
	nav span{
		margin-right: 30px;
	}
	nav ul{
		position: absolute;
		right: 0; 
		flex-direction: column;
		background: #2c2f33;
		width: 100%;
		top: 0;
		height: 100vh;
		align-items: center;
		justify-content: space-evenly;
		transform: translateX(100%);
		transition: all .8s;
		opacity: 0;
		font-family: 'Montserrat', sans-serif;
	}
	nav ul.slide{
		transform: translateX(0);	
		opacity: 1;
	}
	.menu-toggle{
		display: flex;
		position: relative;
		z-index: 1;
	}
	nav ul li select{
		font-size: 0.9em;
		border-radius:50px;
		padding: 0 10px;
		width: 180px;
		outline: none;
		color: grey;
		background: none !important;
	}
	/* /navbar */

	/* content */
	.content{
		position: absolute;
		z-index: -1;
	}
	/* /content */




	/* header */
	.header .socialMedia a i{
		font-size: 25px;
		padding: 0 7px;
		margin-top: 13px;
	}
	/* /header */

	/* about */
	.about{
		text-align: center !important;
	}
	.about .name{
		font-size: 40px;
		margin-top: 50px;
	}
	.about .title{
		font-size: 20px;
	}
	.about .title:after{
		border-bottom: 5px solid #03a9f4;
		width: 10%;
		margin: auto;
		margin-top: 10px;
	}
	.about .desc{
		text-align: center !important;
		width: 100%;
		font-size: 13px;
	}
	.about .aboutButton{
		text-align: center !important;
	}
	.about .aboutButton a{
		font-size: 15px;
		padding:10px 15px;
	}
	.about .aboutButton a.resume{
		box-shadow: 0 1px 7px .1px rgba(0, 0, 0, .1);
		
	}
	/* /about */


	/* skills */
	.skills{
		margin-top: 70px;
	}
	.skills h3{
		font-size: 30px;
		margin-bottom: 30px;
	}
	.skills h3:after{
		width: 10%;
	}
	.skills .card{
		margin-bottom: 20px;
		display: block;	
	}
	.swiper-container {
		display: none;	
	}

	/* /skills */

	.portfolio{
		margin-top: 70px;
	}
	.portfolio h3{
		
		font-size: 30px;
		margin-bottom: 30px;	
	}
	.portfolio h3:after{
		width: 10%;
	}
	.portfolio h4{
		font-size: 20px;
		text-align: center;	
		margin-top: 20px;	
	}
	.portfolio .text{
		display: block;		
		font-size: 13px !important;
		text-align: center;	
	}
	.portfolio .livePreview{
		text-align: center;	
	}
	.portfolio .livePreview a{
		font-size: 15px;
		padding:10px 20px;
		margin-top: 15px;	
	}
	/* /portfolio */

	/* work together */
	.workTogether{
		margin-top: 70px;
	}
	.workTogether h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.workTogether p{
		font-size: 13px;	
	}
	.workTogether br{
		display: none;	
	}
	.workTogether a{
		padding:10px 20px;
		margin-top: 15px;
		font-size: 15px;
	}
	/* /work together */
	
	/* footer */
	.footer{	
		margin-top: 110px;
	}
	.footer .footer1{
		display: none;
	}
	.footer .footer2{
		text-align: center;
	}
	.footer span{
		font-size: 15px;
	}
	/* /footer */
}